---
import { OUR_BRAND } from "../utils/constants";
---

<footer class="bg-white shadow mt-8">
    <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <p class="text-center text-sm text-gray-500">
            &copy; {OUR_BRAND.COPYRIGHT}
            {OUR_BRAND.NAME}. All rights reserved.
        </p>
    </div>
</footer>
