---
import { OUR_BRAND } from "../utils/constants";
---

<header class="bg-brand-primary text-white shadow">
    <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col sm:flex-row justify-between items-center">
            <div class="text-center sm:text-left mb-4 sm:mb-0">
                <p class="text-lg font-semibold">{OUR_BRAND.NAME} - MVP 版本</p>
                <p class="text-sm">
                    您好，歡迎來到Noticeboard。這是一個最簡可行產品
                    (MVP)，計劃在網頁展示我們屋苑的「住戶資訊天地」，為住戶提供更便利的查閱方式。<br
                    />如有任何建議或意見，請whatsapp至+852 54886130。
                </p>
            </div>
        </div>
    </div>
</header>
